<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>

    <!-- Header -->
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a><span></span><span>.</span></a></div>
            <ul class="menu">
                <!-- <li><a class="menu-btn"><strong>INICIO</strong></a></li>
                <li><a class="menu-btn"><strong>TUS PUNTOS</strong></a></li>
                <li><a class="menu-btn"><strong>SOBRE EL PROYECTO</strong></a></li>
                <li><a class="menu-btn"><strong>CONTACTO</strong></a></li> -->
                <li><a href="" class="menu-btn"><strong>SALIR</strong></a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- Home -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">COSMO AMBIENTAL</div>
                <br>
                <br>
                <div class="text-2">Cuida el planeta y le daras mejor vida</div>
                <div class="text-3">{{userEmail}} tienes {{puntos}} puntos<span class="typing"></span></div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">PODRAS REDIMIR</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-laptop-code"></i>
                        <div class="text">800 puntos</div>
                        <p>
                            🎉 ¡Descubre una Aventura en Confamiliar! 🎉

Con esta totalidad de puntos acumulados, te invitamos a disfrutar de una salida inolvidable a Confamiliar junto a un acompañante. ¿Listo para vivir momentos emocionantes y llenos de diversión?
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-user-secret"></i>
                        <div class="text">50 puntos</div>
                        <p>
                            🚴‍♂️ ¡Pedalea hacia la Aventura en la Ciclovía! 🚴‍♀️

Con esta totalidad de puntos acumulados, te invitamos a disfrutar de una emocionante jornada en la Ciclovía junto tus amigos y familiares. ¿Listo para recorrer nuevas rutas y descubrir paisajes impresionantes sobre dos ruedas?
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">1000 PUNTOS</div>
                        <p>
                            


☕️ ¡Disfruta de la Magia del Parque del Café! 🎢

Con esta cantidad de puntos acumulados, te extendemos una cálida invitación para que experimentes la magia y la diversión en el Parque del Café junto a un acompañante. ¿Listo para sumergirte en un mundo lleno de emociones y aventuras?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">REGISTRO DE PERSONAS CON MAYORES PUNTOS</h2>
            <div class="skills-content">
                <div class="column left">

                    <div class="text">JUAN</div>
                    <p>
                        <li class="intern">CUBA</li>
                        <li class="intern">PEREIRA</li>
                    </p>

                    <br>
                    <div class="text">VIVE AL MAXIMO RECICLANDO</div>

                    <p>
                        <li class="project">ALAMOS</li>
                        <li class="project">PEREIRA </li>
                    </p>

                    <br>
                    <div class="text"></div>

                    <p>
                        Reciclar es transformar el presente para construir un futuro más limpio y sostenible. Cada pequeño gesto cuenta, ¡tú puedes marcar la diferencia! 💚🌍 #ReciclaPorPereira
                    </p>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>JUAN</span>
                            <span>90%</span>
                        </div>
                        <div class="line python"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>SARA</span>
                            <span>80%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>LUIS</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JULIAN</span>
                            <span>40%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  About  -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">TE CUENTO QUIEN SOY</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Manosambientalcosmos.jpg" alt="Profile Image 626x626">
                </div>
                <div class="column right">
                    <div class="text">¿QUE ES COSMOS? <span class="typing-2"></span></div>
                    <p>
                        🌟¿Cómo funciona? Es simple: ¡intercambia tus botellas plásticas por emocionantes experiencias recreacionales!

Imagina poder convertir esas botellas que ya no necesitas en momentos de diversión y aventura. Desde entradas a parques recreativos hasta paseos en bicicleta por ciclovías escénicas.
                    </p>
                    <br>
                    <div class="text">TE CONTARE UN POCO MAS SOBRE MÍ</div>
                    <p>
                        🌱 ¡Cuidando a Pereira, cuidamos el planeta! 🌎

Este proyecto tiene como objetivo principal mejorar la calidad de vida de los habitantes de Pereira mientras contribuimos activamente a la preservación del medio ambiente. ¿Cómo se logra? A través del reciclaje de botellas plásticas.

Cada botella que reciclamos no solo reduce la cantidad de desechos que llegan a nuestros vertederos, sino que también contribuye a la reducción de la contaminación y la conservación de nuestros preciosos recursos naturales.

Al reciclar botellas plásticas, creando un impacto positivo en nuestra comunidad y en el mundo que nos rodea. Construyendo un futuro más limpio, más saludable y más sostenible para las generaciones venideras.

¡Únete en este importante viaje hacia un Pereira más verde y un planeta más limpio!
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contactame</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Creador del proycto:</div>
                    <p>
                        ¡Hola! Soy Dilian, la mente detrás de Cosmos. La misión es clara: ¡reciclar para un futuro más verde! Con Cosmos, estamos transformando botellas plásticas en oportunidades para el medio ambiente y la comunidad. Únete a nosotros en este viaje hacia un mundo más sostenible. ♻️🌍
                    </p>
                    <div class="icons">

                        <a >
                            <div class="row">
                                <i class="fa-solid fa-user-large"></i>
                                <div class="info">
                                    <div class="head">Nombre</div>
                                    <div class="sub-title"><a
                                            style="text-decoration: none; color: #333;">Dilian Quebrada</a></div>
                                </div>
                            </div>
                        </a>

                        <div class="row">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="info">
                                <div class="head">&nbsp;Cuidad</div>
                                <div class="sub-title">&nbsp;Pereira, risaralda</div>
                            </div>
                        </div>

                        <div class="row">
                            <i class="fa-solid fa-envelope"></i>
                            <div class="info">
                                <div class="head">Proyecto presentado para CIAF</div>
                            </div>
                        </div>

                        <div class="row">
                            <i class="bi bi-translate"></i>
                            <div class="info">
                                <div class="head">© Cosmoambiental</div>
                                <div class="sub-title">PEREIRA, COLOMBIA</div>
                            </div>
                        </div>

                        <br>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <span>
            <a > COSMOS</a> | <span class="far fa-copyright"></span> 2024 All Rights
            Reserved. Privacy Policy 
        </span>
    </footer>

</body>